# next.js build output
.next
next-env.d.ts

# Dependency directories
node_modules/

# vercel output
.vercel

# mdbook output
book/

# service account json key
key.json
cloud-sql-proxy

# venv for generate db script
venv/