html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.color-disabled {
  color: #000000;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  font-size: 40px;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  border-radius: 3px;
  transition: all 0.2s;
  outline-color: #ffc733;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.radio-inline__input:checked + .radio-inline__label {
  background: #b54a4a;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
}

table th {
  text-align: center;
  color: white;
  font: bold;
  background: #1976d2;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3c6690;
  padding: 8px;
  white-space: nowrap;
}

table tr {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

table td {
  text-align: center;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  padding: 8px;
  white-space: nowrap;
  font-size: 20px;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

table.default {
  border-collapse: separate;
  border-spacing: 0;
}

table.default th:first-child {
  border-radius: 5px 0 0 0;
}

table.default th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table.default th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  padding: 10px 0;
  white-space: nowrap;
}

table.default td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: 1px solid #a8b7c5;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 0;
  white-space: nowrap;
}

table.default tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table.default td:last-child {
  border-right: 1px solid #a8b7c5;
}

@media print {
  button {
    display: none !important;
  }
}

h2.competition-title {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #2c2c2c;
}
